#adding www
RewriteCond %{HTTP_HOST} ^mobilelagbe\.com [NC] 
RewriteRule ^(.*)$ https://www.mobilelagbe.com/$1 [L,R=301]


ErrorDocument 404 /404.html

<IfModule mod_rewrite.c>
RewriteEngine On
#  Rules

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php
</IfModule>

<Files 403.shtml>
order allow,deny
allow from all
</Files>